---js
const eleventyNavigation = {
	key: "contact",
	order: 5
};
---

<h1>contact me</h1>

<form
  action="https://formspree.io/f/mlderoak"
  method="POST"
  class="contact-form"
>
<section class="contact-form-inputs">
  <label>
    Your email:
    <input type="email" name="email" />
  </label>

  <label>
    Your message:
    <textarea name="message"></textarea>
  </label>
</section>

  <button type="submit">Send</button>
</form>
