---js
const eleventyNavigation = {
	key: "talks",
	order: 3
};
---

<h1>talks</h1>

<h2>April 3, 2024</h2>
<a
  href="https://turingschool.libsyn.com/freelancing-with-december-garnet-smith"
  target="_blank"
  rel="noreferrer noopener"
  >Hello Turing World Podcast: Freelancing with December Garnet-Smith</a
>

<h2>September 6, 2023</h2>
<p style="font-size: 1.25em">
  Building a Sustainable Career in Tech for POC:
  <br />
  Turing School of Software and Design
</p>

<iframe
  src="https://docs.google.com/presentation/d/e/2PACX-1vSLGSN-SHVVgnctpy_v5zAgUt6MYJbY1rABLMSMuBrXLaRVmyFWvUBUmY_M3DE7L1Xm_ZjN2uvAjX1K/embed?start=false&loop=false&delayms=3000"
  frameborder="0"
  width="480"
  height="299"
  allowfullscreen="true"
  mozallowfullscreen="true"
  webkitallowfullscreen="true"
></iframe>
